body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    margin-bottom: 10px;
}

#contenedor {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#curso, #alumno {
    padding: 10px;
    width: 300px;
    min-height: 150px;
}