body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

table{
    margin: 10px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}